#rakstu-serija {


float: right;
position: relative;
background: #fbfaf5 url('linijas.png') repeat-y top left;
width: 280px;
z-index: 10;
margin: -20px -40px 20px 40px; 
height: auto;

border:1px solid #eee;
list-style:none;
-webkit-box-shadow: 2px 2px 3px 0px #a7a7a7;
-moz-box-shadow: 2px 2px 3px 0px #a7a7a7;
box-shadow: 2px 2px 3px 0px #a7a7a7; 

padding:20px 10px 10px 10px;

}

#rakstu-serija .viena-serija {
margin-bottom: 10px;
font-weight: bold;
}

#rakstu-serija .viena-saite {
margin-bottom: 5px;
line-height: normal;
font-size: 14px;
}